<div id="basic">
    <div id="basic2">
        <h1>Jose Wrote This</h1>
        <form>
            <div>
                <input type ="text"/>
            </div>

        </form>
    </div>
</div>

<script type="text/javascript">
    //
</script>