<div class="row" style=" width: 100%; background-color:red; min-height:30px; box-sizing: border-box">
        <div class="column" style="width: 33%; box-sizing: border-box "></div>
        <div> Helloahhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</div>

        <div class="space" ; style="float: left;width: 33.33%; padding: 10px; min-height: 200px;box-sizing: border-box"></div>

        <div class="center" ; style="float: left; padding: 10px; height: 300px"> Hello </div>

        <div class="space" ; style=" float: left;width: 33.33%; padding: 10px; min-height: 200px; box-sizing: border-box"></div>



    </div>

    <div class="row" style=" width: 100%; background-color:blue; min-height:30px; box-sizing: border-box"> </div>
