@using CIS4930GCP.Models


@{
    /*//The SQL Server Task Table
    var todoAgent = new TODOLISTTableAdapter();
    var todoTable = new cis4930db.TODOLISTDataTable();
    todoAgent.Fill(todoTable);*/
    var thisId = ViewData["id"];
    ViewBag.LoginInfo = "Logout as " + thisId + "\t";
    ViewBag.LogoutAddress = "AccountR/Logout";
    var db = new dbEntities();
    var todoTable = db.Database.SqlQuery<TODOLIST>("SELECT dbo.TODOLIST.* FROM dbo.TODOLIST WHERE (username_id = '" + thisId + "')").ToList<TODOLIST>();
}
<table class="table">
    <!--Add Items-->
    <thead>
    <th>Task</th>
    <th>Completed Task</th>
    <th>Delete Task</th>
    </thead>
    <tbody>
        <tr>
            @using (Html.BeginForm("AddTodo", "AccountR"))
            {
                <td>
                    <input style="display: none" value="@ViewBag.id" name="username" />
                    <input name="todo" type="text" placeholder="Task to Add" name="task" />
                    <input class="btn-primary" type="submit" value="Update" />
                </td>
            }

        </tr>

        @for (int i = 0; i < todoTable.Count; i++)
        {
            <tr>

                <td>@Html.Raw(@todoTable[i].todo)</td>
                @if (todoTable[i].completed)
                {
                    using (Html.BeginForm("CompleteToDo", "AccountR", new TodoModel { index = todoTable[i].index, isComplete = false, username = ViewBag.id }))
                    {
                        <td>
                            <input class="btn-success" type="submit" value="Complete" name="isCompleted" />
                        </td>
                    }
                }
                else
                {
                    using (Html.BeginForm("CompleteToDo", "AccountR", new TodoModel { index = todoTable[i].index, isComplete = true, username = ViewBag.id }))
                    {
                        <td>
                            <input class="btn-secondary" type="submit" value="Mark Complete" />
                        </td>
                    }
                }
                @using (Html.BeginForm("DeleteToDo", "AccountR", new TodoModel { index = todoTable[i].index, username = ViewBag.id }))
                {
                    <td>
                        <input type="submit" class="btn-danger" id="deleteTask" value="Delete" />
                    </td>
                }
            </tr>

        }

    </tbody>
</table>

