<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link href="~/Style/style.css" rel="stylesheet">
</head>
<body>
    <div id="Header">
        <img src="~/Image/logo.png" height="42" width="42">

    </div>
    @RenderBody()


</body>
<footer id="Foot""> I own nothing <a href="https://www.google.com" title="go home">&copy;</a></footer>
</html>
