<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link href="~/Style/style.css" rel="stylesheet">
</head>
<body>
    <h2>Hello3</h2>
</body>
</html>
